html, body, #container, .carousel {
	height:100%;
	margin: 0;
	width: 100%;
}
.image-slide {
	height: 668px;
	width: 1500px ;
	/* transition: background-image .3s ease-in-out; */
}

.slide-arrow {
	color: #666666;
	cursor: pointer;
	font-size: 2rem;
	position: fixed;
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}

.text-slide {
    width: 100px;
    height: 100px;
    top: 0;
    position: absolute;
    font-size: 30px;
}