html, body{
	margin: 0;
}
.image-slide {
	height: 668px;
	width: 1500px ;
	transition: background-image .3s ease-in-out;
}
.carousel {
	max-width: 1500px;
	margin: 0 auto;
}
#container {

}
.slide-arrow {
	color: #666666;
	cursor: pointer;
	font-size: 2rem;
	position: fixed;
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}

.wrapper {
    color: #fff;
    position: absolute;
    top: 0;
}
.text-slide {
	width: auto;
    height: 110px;
    font-size: 30px;
    background-color: #909090;
    opacity: 0.6;
    text-transform: uppercase;
}

.button-slide {
    position: absolute;
    background-color: #c3002f;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}